*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background: #fff;
    color: #555;
    font-family: 'Lato' , 'Arial' , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/background.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.author-name{
    color: #13f713;
}

.logo{
    font-size: 120%;
    color: #13f713;
    float: left;
    margin-top: 60px;
    /* border-radius: 50%; */
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
    color: #fff;
}

.main-nav li{
    display: inline-block;
    margin-left: 50px;
    letter-spacing: 2px;
    font-weight: 600;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #13f713;
}

h1{
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
}

h2{
    color: #fff;
    font-size: 200%;
    word-spacing: 2px;
    font-weight: 300;
    letter-spacing: 1px;
    /* margin-bottom: 50px; */
}

.skills{
    /* height: 100vh; */
    /* list-style: none; */
}

section {
    padding: 80px 0;
}


.skills p {
    font-size: 200%;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
    /* text-align: center; */
}

.skills p::after{

    display: block;
    height: 2px;
    background-color: #13f713;
    content: " ";
    width: 100px;
    /* margin: 0 50%; */
    margin-top: 10px;
    margin: 0 45.5%;
}

.box{
    margin-top: 100px;
    padding: 1%;
    padding-left: 70px;

}

.box i{
    color: #13f713;
    font-size: 400%;
}

.stars{
    font-size: 200%;
    margin-top: 20px;
    color: rgb(28, 255, 179);
}

.font-big{
    height: 90px;
}

/* .hobbies{
    height: 100vh;
    margin-top: 100px;
} */

.hobbies p {
     font-size: 200%;
     font-weight: 600;
     text-align: center;
     text-transform: capitalize;
}

.hobbies p::after{
    display: block;
    height: 2px;
    background-color: #13f713;
    content: " ";
    width: 100px;
    /* margin: 0 50%; */
    margin-top: 10px;
    margin: 0 46%;
}

.hobbies h3{
    text-transform: capitalize;
}

.hobbies i{
    color: #13f713;
    font-size: 400%;
}

/* .section-form{
    margin-top: 120px;
} */

.section-form p {
    font-size: 200%;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.section-form p::after {
    display: block;
    height: 2px;
    background-color: #13f713;
    content: " ";
    width: 100px;
    /* margin: 0 50%; */
    margin-top: 10px;
    margin: 0 45%;
    margin-bottom: 100px;
}

.contact-form{
    width: 66%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid rgb(212, 212, 212);
}

textarea{
    height: 100px;
}

*:focus{
    outline-color: #13f713;
}

input[type=submit]{
    padding: 10px 30px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 200px;
    color: #fff;
    transition: background-color o.2s , color 0.2s;
}

input[type=submit]:active,
input[type=submit]:hover{
    background-color: #04d604;
}

input[type=submit]{
    background-color: #13f713;
    border: 1px solid #13f713;
    color: #fff;
}

footer{
    background-color: rgb(43, 42, 42);
    padding: 50px;
    font-size: 90%;
}

.footer-nav{
    float: left;
}

.social-icons{
    float: right;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li:link,
.social-icons li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
}

.footer-nav li,
.footer-nav li,
.social-icons li,
.social-icons li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
    transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover{
    color: #13f713;
}

.social-icons li a:link,
.social-icons li a:visited{
    font-size: 160%;
}

.ion-logo-facebook:hover {
    color: #3b5998;
}

.ion-logo-instagram:hover {
    color: #e95950;
}

.ion-logo-twitter:hover {
    color: #55acee;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 70%;
    margin-top: 20px;
}

.footer-nav li:last-child,
.social-icons li:last-child {
    margin-right: 0;
}